@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: #FFFCF6;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #191919;
}


.content {
  display: flex;
  margin-left: 500px;
  margin-right: 500px;
}

