.twitter_label, .proof_submit_label {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #191919;
  margin-left: 20px;
}

.tweet_proof_label {
  margin-top: 25px;
}

.proof_submit_label {
  margin-top: 20px;
}

.twitterhandle_input, .twitterproof_input {
  font-family: 'Courier Prime', monospace;
  font-weight: 500;
  font-size: 14px;
  color: #191919;
  background: transparent;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border: 2px solid #191919;
  border-radius: 10px;
  padding: 10px;
}

.twitterhandle_submit {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #191919;
  background: transparent;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border: 2px solid #191919;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 20px;
}

.result {
  width: 550px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #191919;
  border-top: 1px solid #191919;
  line-height: 1.5;
}

.tweet {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #191919;
  background: transparent;
  text-decoration: none;
  border: 2px solid #191919;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.tweet_proof_button {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #191919;
  background: transparent;
  text-decoration: none;
  border: 2px solid #191919;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.twtproof {
  margin-top: 10px;
  font-family: 'Courier Prime', monospace;
  font-weight: 500;
  line-height: 1.5;
  padding: 20px;
  background: #2c3e50;
  color: #FFFCF6;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-wrap: break-word;
}

.h2 {
  margin-top: 0;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #191919;
  border-bottom: 1px solid #191919;
}
